<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Resume</th>
        </tr>
    </thead>
    <tbody>

        <% applicants.map(applicant=> { %>
            <tr>
                <td>1</td>
                <td>
                    <%=applicant.name%>
                </td>

                <td>
                    <%=applicant.email%>
                </td>
                <td>
                    <%=applicant.contact%>
                </td>
                <td>
                    <a href="/resumes/<%=applicant.resumepath%>">View</a>
                </td>

            </tr>
            <% }) %>

    </tbody>
</table>